
header {
    display: flex
}

h1 {
    color: red;
    font-size: 80px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 .nota {
    width: 100px;
    text-align: center;
 }

 .Flamengo {
    width: 600px;
    text-align: left;
 }