
header {
    display: flex
}

h1 {
    color: red;
    font-size: 80px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 .nota {
    width: 300px;
    text-align: right;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rrgba(o, 0, 0, 0,5);
 }
