
header {
    display: flex
}

h1 {
    color: red;
    font-size: 80px;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 .nota {
    width: 200px;
    text-align: center;
 }

 .Flamengo {
    width: 250px;
    text-align: center;
 }
 
 .Corinthians {
    width: 200px;
 }